*{
 margin: 0;
 padding: 0;
 font-family: var(--fuente);
 box-sizing: border-box; 
}

:root{
   /* Colores principales */
   --coloroscuro:#03045e;
   --colorclaro:#16a0fd;
   --colordegradado: hsl(190, 74%, 50%);

   /* Colores de gradado*/
   --colornegro: #1A141F;
   --colorsugerencia: #3a495a;
   --colorborde:#aba7af;
   --colordescativado:#d4d2d5;
   --colorespacuador: #d9d1e0;
   --colorluzespaciadora: #e5e0eb;
   --colordefondo: #e4e4e4;
   --colorblanco:#ffffff;

   /*Colores de informacion*/
   --colorpeligro:#F6BC00;
   --colorerror: #c35060;
   --colorexito: #00a4a8;
   --colorlink:#0f0bab;

   /*fuente*/
   --fuente: "Quicksand", sans-serif;

}

/* Estilos generales*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background:var(--colorblanco);
  padding-left: 180px;
  padding-right: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
body {
  height: 3000px;
  font-family: var(--fuente);
  padding-top: 80px;
  padding-left: 150px;
  padding-right: 150px;
  background: var(--colordefondo)
}
p {
padding: 0;
margin: 0;
}
.logo {
  height: 40px;
  margin-right: 5px;
}

.left-section {
  display: flex;
  align-items: center;
  width: 300px;
  margin-right: 120px;
}
.middle-section {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.right-section {
  display: flex;
  border-left: 1px solid rgba(199, 192, 192, 0.5);
  width: 140px;
  margin-left: 30px;
  justify-content: space-between;
  padding-left: 20px;
}
.search-box {
  padding: 7px;
   border: 1px solid var(--colordescativado);
   background-color: var(--colorblanco);
   border-radius: 10px;
   width: 300px;
   background-image: url(assets/icons/search.svg);
   background-size: 16px;
   background-repeat: no-repeat;
   outline: 0;
   background-position: 10px;
   box-shadow: 0 5px 10px rgba(199, 192, 192, 0.5);
 
}
.search-box img{
  width: 24px;
  position: absolute;
}

.search-box::placeholder {
font-size: 14px;
padding-left: 25px;
font-family: var(--fuente);
}

.home {
  height: 23px;
  margin-bottom: 0px;
}
.dp {
  height: 40px;
  width: 40px;
  border-radius: 10%;
}
.me-icon {
  display: flex; 
  flex-direction: column;
  padding-top: 7px;
 padding-bottom: 5px;
}

.top-icon {
 display: flex; 
 flex-direction: column;
 opacity: 0.6;
 padding-top: 2px;
 padding-bottom: 2px;
}
.top-icon:hover {
  opacity: 1;
}

label {
  font-size: 12px;
  font-family: var(--fuente);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--coloroscuro);
} 

.main {
  display: flex;
  justify-content: space-between;

}
.left-main {
  width: 230px;
  margin-right: 25px; 
  display: flex;
  flex-direction: column;
  
}
.left-main-1 {
  height: 340px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
  background: var(--colorblanco);
}
.banner {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.my-picture {
  border-radius: 20%;
  position: absolute;
  left: 90px;
  top: 80px;
  width: 60px;
  height: 60px;
  
}
.about {
  background: var(--colorblanco);
  border-bottom: 1px solid rgba(199, 192, 192, 0.5);
  padding: 10px;
}

.about h5 {
   padding-top: 30px; 
  text-align: center;
  margin-bottom: 0;
}
.about p {
  font-size: 12px;
  text-align: center;
  margin-top: 5px; 
  margin-bottom: 10px;
}

.New-article{
  margin-top: 10px;
  border-bottom: 1px solid rgba(199, 192, 192, 0.5);
  padding: 10px 10px;
  display: flex;
  background: var(--colorblanco);
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
 
}

.button-article {
  display: inline-block;
  background: var(--coloroscuro);
  border: none;
  color: var(--colorblanco);
  padding: 10px 10px; 
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin:auto; 
  cursor: pointer;
  border-radius: 5px;
}

.button-article:hover {
  background: var(--colorclaro);
}

.left-main-2 {
  margin-top: 10px;
  width: 230px;
  height: 350px;
  background: var(--colorblanco);
  border: 1px solid rgba(199, 192, 192, 0.5);
  border-radius: 10px;
  padding: 30px 30px;
}


.left-main-3 {
  margin-top: 20px;
  height: 250px;
  width: 230px;
  text-align: center;
  background: var(--colorblanco);
  border: 1px solid rgba(199, 192, 192, 0.5);
  border-radius: 10px;
  padding: 20px 20px;
}

.left-main-4 {
  margin-top: 10px;
  width: 230px;
  height: 200px;
  background: var(--colorblanco);
  border: 1px solid rgba(199, 192, 192, 0.5);
  border-radius: 10px;
  padding: 30px 30px;
}
  


.events {
    height: 18px;
    margin-right: 5px;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    background: var(--colorblanco);
    border: 2px solid var(--colordegradado);
}
.events-p {
    font-size: 14px;
    font-family: var(--fuente);
    font-weight: 500;
    flex-direction: 
}
.event-flex{
  display: flex;
  flex-direction: r;
  margin-bottom: 10px;
    
}

.events-f{
    font-size: 11px;
    font-family: var(--fuente);
    font-weight: 500;
    color: var(--color);
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
}
.event-flex2{
  margin-top: 10px;
  display: flex;
  align-items: center;
  display: inline-block;
  background: var(--colordefondo);
  border-radius: 5px;
  padding: 5px 5px 5px 5px; 
}

.event-flex2:hover {
  opacity: 1;
  background: var(--colorespacuador);
  transition: 0.3s;
  border-radius: 5px;
}

.event-flex:hover {
    opacity: 1;
    background: var(--colorespacuador);
    transition: 0.3s;
    border-radius: 10px;
}
.same {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.7;
}
.same:hover{
    opacity: 1;
    cursor: pointer;
}

.middle-main {
  flex: 1.5;
}
.middle-pic {
  width: 0px;
  border-radius: 30%;
  margin-right: 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}
.middle-main-1 {
  border-radius: 20px;
  background:var(--colorblanco);
  margin-bottom: 10px;
  padding: 10px 10px;
}
.post-1 {
  display: flex;
  padding: 10px 20px;
}
.post {
  flex: 1.5px;
  border: 1px solid rgba(199, 192, 192, 0.5);
  background-color: transparent;
  border-radius: 40px;
  margin-right: 10px;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}
.post::placeholder {
  padding-left: 10px;
  color: var(--colorespacuador);
  font-family: var(--fuente);
}
.upload {
  height: 25px;
  margin: 4px;
  align-content: center;
}
.input {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
.linked-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px; 
}


.middle-main-2 {
  background:var(--colorblanco);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 5px;
  padding: 5px 12px;
 
}
.name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 2px;
}
.name-about {
  font-size: 13px;
  font-weight: 400;
  color: grey;
}

.post {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}


.post-header {
  display: flex;
  align-items: center;
}


.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--colordegradado);
}


.post-content {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: var(--fuente);
  font-weight: 500;
  justify-content: center;
}


.post-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}


.post-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.button-like, .button-comentar, .button-recomendar, .button-Enviar,.button-opcions {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px; 
  padding: 5px 10px;
  
}


.post-comments {
  margin-top: 10px;
}


.post-options {
  margin-left: auto;
  cursor: pointer;
}


.post-qr img {
  width: 100px;
  height: 100px;
}


.footer {
  margin-top: 10px;
  background: var(--colorblanco);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer ul {
  list-style: none;
}


.footer a{
  text-decoration: none;
  color: var(--color);
  font-size: 11px;
  font-family: var(--fuente);
  font-weight: 500;
}

.footer-column {
  flex: 1;
  padding:  0 20px;
}

.footer-logo {
  width: 50px;
  height: auto;
}


.footer-text {
  margin-top: 10px;
  color: var(--colornegro);
}


.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: overline;
}


.footer-links li {
  margin-bottom: 10px;
  text-decoration: none;
}


.footer-links a {
  color: var(--colornegro);
  text-decoration: none;
  font-size: 12px;
  text-decoration: underline;
}


.footer-links a:hover {
  color: var(--colorexito);
}


.footer-links button {
  background: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}


.footer-links button:hover {
  background-color: var(--colorclaro); 
  color: var(--colorblanco); 
  border-radius: 5px;
}




